# Archivos de Xcode que no deben subirse
*.xcworkspace/
xcuserdata/
*.xcuserstate

# Archivos generados por la compilación
build/
DerivedData/

# Archivos de sistema de macOS
.DS_Store

# Dependencias (CocoaPods, Carthage, Swift Package Manager)
Pods/
Carthage/
.swiftpm/

# Archivos de logs y depuración
*.log

# SwiftLint (si lo usas)
.swiftlint.yml
*.swiftlint.cache

# Archivos temporales del sistema
*.swp
*.swo

# Ignorar cualquier otro archivo temporal o innecesario
*.pyc
*.class
*.tmp

